@font-face {
    font-family: 'Chunkfive';
    src: url(./fonts/Chunkfive\ Ex.ttf) format('truetype');
    font-weight: bold;
}

@font-face {
    font-family: 'kollektiv';
    src: url(./fonts/kollektif.ttf) format('truetype');
    
}

html{
    scroll-behavior: smooth;
}

body {
    background-color: rgb(255, 255, 255);
    font-family: 'kollektiv', sans-serif;
}

.accent{
    color: #ffb905;
}

h1{
    font-family: 'Chunkfive', serif;
    font-size: 4.5em;
    padding-top: 5%;
    text-align: center;
}

#home, #about, #projects, #art {
    height: 100%;
}

.home-text h1{
    font-family: 'Chunkfive', serif;
    font-size: 6em;
    padding-top: 8%;
    text-align: center;
}

.home-text h2{
    font-size: 4em;
}

h2, .project-buttons{
    font-family: 'kollektiv', sans-serif;
    font-size: 3em;
}

.home-text{
    text-align: center;
    padding-top: 6%;
    
}

p {
    font-size: 20;
}

#view-work {
    
    font-family: 'kollektiv', sans-serif;
    background-color: #ffb905;
    border: none;
    border-radius: 10px;
    font-size: 1.5em;
    font-weight:normal;
    height: 5%; 
    width: 180px;
}

#view-work:hover{
    background-color: #ffab23;
    /* transform: scale(1.05); */
    animation: tilt-shaking 0.5s infinite;
    
}

@keyframes tilt-shaking {
    0% { transform: rotate(0deg); }
    25% { transform: rotate(5deg); }
  
    75% { transform: rotate(-5deg); }
    100% { transform: rotate(0deg); }   
}

.icons a{
    text-decoration: none;
}

.icon-button{
    margin-right: 5px;
    margin-left: 5px;
    padding-top: 30px;
    width: 35px;
    height: auto;
}

.icons img:hover{
    transform: scale(0.95)
}

#about,#art{
    background-color: #f7f7f7;
}

.heading {
    width: 100%;
    white-space: nowrap;
    /* text-align: center; */
}
.heading h2{
    width: 25%;
    display: inline-block;
    vertical-align: top;
    /* margin: 0; */
}

.bio-left{
    text-align: left;
    padding-left: 25%;

}

.bio-right{
    width: min-content;
    text-align: right;
    padding-right: 25%;
    
}

.bio p{
    padding-left: 20%;
    padding-right: 20%;
    text-align:center;
    /* width: 70%; */
}

#hannah {
    width: 400px;
    height: auto;
    border-radius: 400px;
    margin-left: 16.5%;
}

.projects{
    width: 100%;
    /* white-space: nowrap; */
}

.project-titles{
    /* display: flex;  */
    /* justify-content: space-evenly; */
    align-items: left; 
    width: 15%;
    padding-top: 10%;
    
    padding-left: 5%;
}

.project-buttons{
    padding-bottom: 10%;
    background: #ffffff;
    font-weight:600;
    border: none;
}

.project-buttons:hover{
    transform: scale(1.06);
}
/* .tictactoes{

    padding-left: 5%;
}

.project-acorn{
    padding-left: 10%;
    padding-right: 1%;
}

.birge{
    padding-right: 5%;

}
 */


