:root {
    --yellow: #ffb905
}

@font-face {
    font-family: 'Chunkfive';
    src: url(./fonts/Chunkfive\ Ex.ttf) format('truetype');
    font-weight: bold;
}

@font-face {
    font-family: 'kollektiv';
    src: url(./fonts/kollektif.ttf) format('truetype');
    
}

body, html {
    margin: 0;
    padding: 0;
}

html{
    scroll-behavior: smooth;
}

body {

    background-color: rgb(255, 255, 255);
    font-family: 'kollektiv', sans-serif;
}

.accent{
    color: var(--yellow);
}

h1{
    font-family: 'Chunkfive', serif;
    font-size: 4.5em;
    padding-top: 5%;
    text-align: center;
}

#home, #about, #projects, #art {
    min-height: 100vh;
}

.home-text h1{
    font-family: 'Chunkfive', serif;
    font-size: 6em;
    /* padding-top: 8%; */
    text-align: center;
}

.home-text h2{
    font-size: 4em;
}

h2, .project-buttons{
    font-family: 'kollektiv', sans-serif;
    font-size: 3em;
}

.home-text{
    text-align: center;
    padding-top: 6%;
    
}

#header, p {
    font-size: 20;
}

#view-work {
    font-family: 'kollektiv', sans-serif;
    background-color: var(--yellow);
    border: none;
    border-radius: 10px;
    font-size: 1.5em;
    font-weight:normal;
    height: 5%; 
    width: 180px;
}

#view-work:hover{
    background-color: #ffab23;
    /* transform: scale(1.05); */
    animation: tilt-shaking 0.5s infinite;
    
}

@keyframes tilt-shaking {
    0% { transform: rotate(0deg); }
    25% { transform: rotate(5deg); }
  
    75% { transform: rotate(-5deg); }
    100% { transform: rotate(0deg); }   
}

.icons a{
    text-decoration: none;
}

.icon-button{
    margin-right: 5px;
    margin-left: 5px;
    padding-top: 30px;
    width: 35px;
    height: auto;
   
}

.icons img:hover{
    filter: opacity(70%);
    transform: scale(0.95)
}

#about,#art{
    background-color: #f7f7f7;
}

.heading {
    width: 100%;
    display: flex;
    justify-content: space-between;
    white-space: nowrap;
    /* text-align: center; */
}
.heading h2{
    width: 50%;
    
    /* display: inline-block; */
    vertical-align: top;
    /* margin: 0; */
}

.bio-left{
    text-align: center;
    /* padding-left: 25%; */

}

.bio-right{
    width: min-content;
    text-align: center;
    /* padding-right: 25%; */
    
}

.bio p{
    padding-left: 20%;
    padding-right: 20%;
    text-align:center;
    /* width: 70%; */
}

.about-imgs{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.profile-pic{
    width: 50%;
    display: flex;
    justify-content: center;
    padding-bottom: 5%;
}

#hannah {
    max-width: 50%;
    width: 400px;
    height: auto;
    border-radius: 400px;
    justify-content: center;

}



.about-imgs img{
    max-width: 12%;
    
}

.skills{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 5%;
    /* padding-left: 10%; */

}

.skills img{
    margin: 3%;
}

.row1, .row2{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    
}

.projects-content{
    width: 100%;
    display: flex;
    justify-content: space-between;
    /* white-space: nowrap; */
}



.project-titles{
    display: flex; 
    flex-direction: column;
    /* gap: 10%; */
    align-items: left; 
    
    width: 15%;
    padding: 5% 0;
    /* padding-top: 10%; */
    
    padding-left: 5%;
    padding-right: 5%;
    /* margin-right: 20px; */
}

.project-buttons{
    padding-bottom: 10%;
    background: #ffffff;
    font-weight:600;
    border: none;
}

.project-buttons:hover{
    transform: scale(1.06);
    color: var(--yellow);
    cursor: pointer;
    text-decoration: underline;
}


.project-info{
    padding-top: 2%;
    padding-bottom: 10%;
    display: flex;
    flex-grow: 1;
    width: 40%;
    text-align: center;
    margin-left: 10%;
    margin-right: 10%;
}

.project-info p{
    padding-bottom: 10px 0;
}

.project-info img{
    max-width: 50%;
    max-height: 70%;
    padding: 5px 0;
}

.selected{
    text-decoration: underline;
}

#header a{
    text-decoration: none;
}

#header{
    background-color: white;
    position: sticky;
    top: 0;
    width: 100%;
    font-size: 0;
    text-align: right;
    padding: 0;
    margin: 0;
    
    box-shadow: 2px 2px 5px#e4e4e4 ;
}

.navbar-button{
    font-family: 'kollektiv', sans-serif;
    background-color: white;
    border: none;
    font-size: 20px;
    font-weight:normal;
    height: 5%; 
    width: 180px;
    
}

.navbar-button:hover{
    /* background-color: #f7f7f7; */
    color: var(--yellow);
    transition: 0.3s ease-in-out;
    text-decoration: underline;
}

#art{
    text-align: center;
}



.slides {
    height: 60%;
    width:auto;
    margin: auto;
}

.arrow-button{
    padding: none;
    background:none;
    border: none;
}

.arrow-button img{
    width: 20%;
}

.arrow-button:hover{
    filter: opacity(50%);
}

